{% extends "base.html" %}
{% block content %}

<h2 class="mb-3">Buy Mobile Airtime / Data</h2>

<div class="card p-3">
    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input type="text" name="phone" class="form-control" placeholder="e.g. 0812345678">
        </div>

        <div class="mb-3">
            <label class="form-label">Select Network</label>
            <select name="network" class="form-select">
                <option>Vodacom</option>
                <option>MTN</option>
                <option>Cell C</option>
                <option>Telkom Mobile</option>
                <option>Rain</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Amount</label>
            <input type="number" name="amount" class="form-control" min="5" placeholder="R10, R20, R50...">
        </div>

        <button class="btn btn-dark w-100">Proceed (Demo Only)</button>
    </form>
</div>

{% endblock %}