{% extends "base.html" %}
{% block content %}

<h2 class="mb-3">Buy Digital Vouchers</h2>

<div class="list-group">

    <a class="list-group-item list-group-item-action d-flex align-items-center">
        🎬 <span class="ms-3">Netflix Voucher (Demo Only)</span>
    </a>

    <a class="list-group-item list-group-item-action d-flex align-items-center">
        🎧 <span class="ms-3">Spotify Voucher (Demo Only)</span>
    </a>

    <a class="list-group-item list-group-item-action d-flex align-items-center">
        🚗 <span class="ms-3">Uber Voucher (Demo Only)</span>
    </a>

    <a class="list-group-item list-group-item-action d-flex align-items-center">
        🎮 <span class="ms-3">PlayStation / Xbox Gift Cards (Demo Only)</span>
    </a>

</div>

{% endblock %}